<% provide :title, t("log_in") %>
<section>
  <div class="container">
    <h1 class="text-center"><%= t "log_in" %></h1>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for :user, url: user_session_path do |f| %>
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control" %>
          <%= f.label :password, t("users.new.password") %>
          <%= f.password_field :password, class: "form-control" %>
          <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me %>
            <span><%= t "sessions.new.remember_me" %></span>
          <% end %>
          <div class="courses-info">
            <%= f.submit t("log_in"), class: "section-btn btn btn-primary btn-block" %>
          </div>
        <% end %>
        <div class="courses-info">
          <div class="row">
            <div class="col-md-6">
              <%= link_to user_facebook_omniauth_authorize_path, class: "btn btn-primary btn-block" do %>
                <i class="fa fa-facebook-square"></i>
                <span class="ml-2">
                  <%= t "signin_with_facebook" %>
                </span>
              <% end %>
            </div>
            <div class="col-md-6">
              <%= link_to user_google_oauth2_omniauth_authorize_path, class: "btn btn-primary btn-block btn-google" do %>
                <i class="fa fa-google"></i>
                <span class="ml-2">
                  <%= t "signin_with_google" %>
                </span>
              <% end %>
            </div>
          </div>
        </div>
        <div class="text-center">
          <p>
            <%= t "sessions.new.new_user" %>
            <%= link_to t("sessions.new.sign_up"), signup_path %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
