<%= f.fields_for :car do |c| %>
  <div class="form-group">
    <div class="col-md-4">
      <%= c.label :year_of_manufacture_id, t("posts.new.year_of_manufacture") %>(*)
      <%= option_select c, YearOfManufacture, :year_of_manufacture_id %>
    </div>
    <div class="col-md-4">
      <%= c.label :gearbox_id, t("posts.new.gear_box") %>(*)
      <%= option_select c, Gearbox, :gearbox_id %>
    </div>
    <div class="col-md-4">
      <%= c.label :car_type_id, t("posts.new.car_type") %>(*)
      <%= option_select c, CarType, :car_type_id %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-4">
      <%= c.label :brand_id, t("posts.new.brand") %>(*)
      <%= option_select c, Brand, :brand_id %>
    </div>
    <div class="col-md-4">
      <%= c.label :car_model_id, t("posts.new.car_model") %>(*)
      <%= option_select c, CarModel, :car_model_id %>
    </div>
    <div class="col-md-4">
      <%= c.label :color_id, t("posts.new.color") %>(*)
      <%= option_select c, Color, :color_id %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-4">
      <%= c.label :number_of_seat_id, t("posts.new.number_of_seat") %>(*)
      <%= option_select c, NumberOfSeat, :number_of_seat_id %>
    </div>
    <div class="col-md-4">
      <%= c.label :condition_id, t("posts.new.condition") %>(*)
      <%= option_select c, Condition, :condition_id %>
    </div>
    <div class="col-md-4">
      <%= c.label :fuel_id, t("posts.new.fuel") %>(*)
      <%= option_select c, Fuel, :fuel_id %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-4">
      <%= c.label :origin_id, t("posts.new.origin") %>(*)
      <%= option_select c, Origin, :origin_id %>
    </div>
    <div class="col-md-4">
      <%= c.label :price, t("posts.new.price") %>(*)
      <%= c.text_field :price, class: "form-control", required: true %>
    </div>
    <div class="col-md-4">
      <%= c.label :mileage, t("posts.new.mileage") %>(*)
      <%= c.text_field :mileage, class: "form-control", required: true %>
    </div>
  </div>
<% end %>
